$primary: #3c556a;
$secondary: #4e6e88;
$light: #b6d6df;
$dark: #0c4b39;
$white: #f6f6f6;
$black: #0b1013;
$warning: #d3ac40;

.btn {
    border: none;
    font-size: 16px;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    background-color: $secondary;
    padding: 10px;
    color: $white;
    transition: 0.3s;
    margin-bottom: 15px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgba(182, 214, 223, 0.3);
    color: $primary;
    transition: 0.3s;
}

.d-flex {
    display: flex;
}

.d-inline-block {
    display: inline-block;
}

.justify-content-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.text-align-center{
    text-align: center;
}